<!--List of questions-->
<hr>
<button class="btn btn-success mr-2" (click)="getQ()">Start</button>
<hr>
<table class="table table-sm">
    <thead>
      <tr>
        <th scope="col">Question</th>
        <th scope="col">A</th>
        <th scope="col">B</th>
        <th scope="col">C</th>  
        <th scope="col">D</th>            
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let ques of questions | paginate: {id:'listing_pagination',
    itemsPerPage: 1,
    currentPage: pageNumber,
    totalItems: totalRecord}">
        <th scope="row">{{ques._text}}</th>
        <td>{{ques.answer}}
          <button type="button" (click)=" updateScore()" class="btn btn-outline-dark btn-sm"></button>
        </td>
        <td>{{ques.ranAns1}}
          <button type="button" (click)="r1()"  class="btn btn-outline-dark btn-sm"></button>
        </td>
        <td>{{ques.ranAns2}}
          <button type="button" (click)="r2()" class="btn btn-outline-dark btn-sm"></button>
        </td>  
        <td>{{ques.ranAns3}}
          <button type="button" (click)="r3()" class="btn btn-outline-dark btn-sm"></button>
        </td>             
      </tr>
    </tbody>
    </table>
    <div>
        <pagination-controls id ="listing_pagination" (pageChange) = "pageNumber = $event">
            
        </pagination-controls>
    </div>

<hr>
<button class="btn btn-success mr-2" (click)="recordPerformance()">End exam</button>
<hr>
<div>
  <a class="dropdown-item" routerLink="/stupaper" routerLinkActive = 'active' >Done ? Return to Paper listing</a>
</div>

