
<figure class="text-center">
  <blockquote class="blockquote">
    <p>Defining a Subject</p>
  </blockquote>
</figure>
<form #addsubj="ngForm" (ngSubmit)="addSubject(addsubj)" >
    <div class="mb-3">
      <label for="subjectId" class="form-label">Sublect Id</label>
      <input type="number" class="form-control"  name="subjectid"  [(ngModel)]="model.subjectid">
      <div id="emailHelp" class="form-text"></div>
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Subject Name</label>
      <input type="text" class="form-control"  name="subjectname" [(ngModel)]="model.subjectname">
    </div>
    <button class="btn btn-success mr-2" type="submit">Add Subject</button>
    <button class="btn btn-success mr-2" type="reset" value="reset">Cancel</button>
</form>
<hr>
  <div>
    <a class="dropdown-item" routerLink="/subject" routerLinkActive = 'active' >Done ? Return to Subject listing</a>
  </div>

 

  
  
